<br>
<h1 class="text-center">Welcome to
  <a href="https://luanotes.com/">luanotes.com</a>
</h1>
<br>
<hr>
<div class="text-center">
  <h2>Using Devise in Rails</h2>
  <br>

  <% if user_signed_in? %>
    <div>Email: <%= current_user.email %></div>
    <br>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Log in", new_user_session_path %>
  <% end %>
</div>
